.cardContent
{
  max-width: 100%;
  max-height: 100%;
}
.title
{
  justify-content: end;
  align-items: center;
}
.title-text
{
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0px;
}
.p-3
{
  padding: 10px;
}
.img
{
  max-width: 100%;
  max-height: 100%;
}
.img-container
{
  max-width: 200px;
  height: auto;
}
.reviews-container
{
  max-height: 250px;
  overflow-y: scroll;
}
.px-3
{
  padding: 10px 0px;
}
.main
{
  width: 100%;
}
.text-container
{
  margin-top: 20px;
  height: 100%;
  overflow-y: auto;
}