<div class="">
  <div class="title flex-row">
    <h1 class="title-text w-100 p-3">
      Details
    </h1>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <hr>
  <div *ngIf="!book" class="p-5">
    Loading...
  </div>
  <div *ngIf="book" mat-dialog-content class="p-5">
    <div class="flex-row gap">
      <div class="flex-col img-container">
        <img [src]="book.cover" alt="" class="img">
        <div class="flex-row px-3">
          <p class="mr-5 ">
            Review: {{book.reviews?.length}}
          </p>
          <p>
            Rating: {{book.rating | number:'1.0-3'}}
          </p>
        </div>
      </div>
      <div class="main">
        <div class="flex-col">
          <mat-card-title>{{book.title}}</mat-card-title>
          <mat-card-subtitle>{{book.author}}, {{book.genre}}</mat-card-subtitle>
          <div class="text-container">
            <p>{{book.content}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!book.reviews || !book.reviews.length" class="">

    </div>
    <div class="reviews-container">
      <div *ngFor="let review of book.reviews" class="">
        <hr>
        <p>{{review.reviewer}}</p>
        <p>{{review.message}}</p>
      </div>
    </div>
  </div>
</div>