<mat-card class="flex-row">
  <div class="flex-row cardContent">
    <div class="flex-row flex-wrap">
      <div class="img-conteiner">
        <img [src]="book.cover" class="img" alt="">
      </div>
      <div class="flex-col p-5">
        <mat-card-title class="w-fitContent">
          {{book.title}}
        </mat-card-title>
        <mat-card-subtitle class="mr-5 w-fitContent">
          Review: {{book.reviewsNumber}} Rating: {{book.rating }}
        </mat-card-subtitle>
      </div>
    </div>
    <div class="flex-row flex-wrap w-fitContent bttns flex-wrap">
      <button (click)="openDialog(book.id)" mat-mini-fab color="warn" aria-label="">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button mat-mini-fab color="warn" aria-label="">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</mat-card>